.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #eee;
}

.footer-left {
  text-align: left;
  font-size: 12px;
  column-count: 2;
  column-gap: 3px;
}

.footer-right {
  text-align: right;
}

.footer-logo {
  height: 20px;
}