* {
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;

    background-color: #f5f5f578;
    padding: 5px;
}

.footer-left {
    display: grid;
    margin-left: 15px;
    text-align: left;
    grid-template-columns: 150px 150px 240px;
    grid-template-areas:
        "n1 n2 ."
        "n3 n4 n5";
    gap: 4px;
}

.footer-name:nth-child(1) { grid-area: n1; }
.footer-name:nth-child(2) { grid-area: n3; }
.footer-name:nth-child(3) { grid-area: n2; }
.footer-name:nth-child(4) { grid-area: n4; }
.footer-name:nth-child(5) { grid-area: n5; }

.footer-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: left;
    margin-left: auto;
}

.footer-right img {
    max-height: 40px;
    width: auto;
}