* {
    box-sizing: border-box;
}

.header {
    max-height: 15vh;
    background-color:rgb(217,217,217,0.2);
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 1vw;
    border-bottom: 0.05vw solid rgb(58,58,58,0.03);
    padding: clamp(10px, 1vw, 14px) ;
}


.nav {
    width: 100%;
    height: clamp(46px, 3.75vw, 92px);
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    align-items: center;

}

.home-page-link, .categories-link, .add-game-button, .page-info-button, .about-button, .categories-info-button, .register-link, .login-link, .add-game-link {
    background-color: rgb(145, 242, 190, 0.5);
    color: var(--text-h);
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    font-size: clamp(14px, 1.25vw, 30px);
    text-align: center;
    border-radius: 6vw;
    border: 0.2vw solid rgb(145, 242, 190, 1);
    padding: clamp(8px, 1vw, 20px) clamp(12px, 1.5vw, 36px);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.home-page-link:hover, .categories-link:hover, .add-game-button:hover, .page-info-button:hover, .about-button:hover, .categories-info-button:hover, .register-link:hover, .login-link:hover, .add-game-link:hover {
    transform: scale(1.05);
    color:black;
}

.home-page-link:active, .categories-link:active, .add-game-button:active, .page-info-button:active, .about-button:active, .categories-info-button:active, .register-link:active, .login-link:active, .add-game-link:active {
    transform: scale(1.05);
    color:white;
}

.popup {
  position: fixed;
  z-index: 9999;
}

.popup-container {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(1000px, 78vw, 1600px);
    
    max-height: 85.5vh;
    padding: clamp(20px, 2vw, 40px);
    background-color: rgb(255, 248,248 ,1);
    border: 0.5vw solid rgb(145, 242, 190, 0.5);
    border-radius: clamp(48px, 3vw, 72px);
}

.popup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-text-container {
    overflow-y: visible;
    width: 100%;
    max-height: none;
    padding-right: 0;
    display: block;
    padding: 0 2vw 0 0;

    text-align: left;
    font-family: 'Sono', sans-serif;
    text-transform: uppercase;
}

.popup-scroll-area {
    max-height: calc(85.5vh - clamp(100px, 2vw, 120px));
    overflow-y: auto;
    padding-right: clamp(20px, 3vw, 40px);
}

.popup-scroll-area::-webkit-scrollbar {
    width: 10px;
}

.popup-scroll-area::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 5.5vh;      
    margin-bottom: 20px;
}

.popup-scroll-area::-webkit-scrollbar-thumb {
    background: rgba(194, 194, 194, 0.565);
    border-radius: 999px;
}

.popup-scroll-area::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
}

.popup-text-container h1,
.popup-text-container h2,
.popup-text-container p,
.popup-text-container ul {
    display: block;
    width: 100%;
    
}

.popup-text-container h1 {
    text-align: center;
    font-size: clamp(16px, 3vw, 36px);
    margin-bottom: 1.5vw;
    margin-top: 0;
    padding-top: 0;
}

.popup-text-container h2 {
    font-size: clamp(14px, 0.75vw, 34px);
    margin-bottom: 1vw;
}

.popup-text-container h3 {
    font-size: clamp(12px, 0.7vw, 32px);
    font-weight: 600;
    margin-top: 0.8vw;
    margin-bottom: 0vw;
    line-height: 1;
}

.popup-text-container p {
    font-size: clamp(12px, 0.75vw, 32px);
    line-height: 1;
    margin-bottom: 0.8vw;
}

.popup-text-container ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: clamp(30px, 2.5vw, 40px);
    margin-top: 0.2vw;
}

.popup-text-container li {
    font-size: clamp(12px, 0.75vw, 32px);
    margin-bottom: 0.18vw;
    line-height: 1;
}

.popup-text-container li::marker {
    font-family: Arial, sans-serif;
    font-size: 1.7em;
}


.popup-about {
    width: clamp(400px, 50vw, 1000px);
}

.popup-about h1 {
    margin-bottom: 1vw;
}

.popup-about h2{
    margin-bottom: 0.5vw;
}


.popup-about p {
    font-size: clamp(14px, 1vw, 36px);
    margin-bottom: 1.2vw;
    line-height: 1.5;
}

.popup-page-info {
    width: clamp(900px, 65vw, 2500px);
}

.popup-page-info h2 {
    font-size: clamp(16px, 1vw, 30px);
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.popup-page-info h3 {
    font-size: clamp(16px, 1vw, 28px);
    margin-top: 1vw;
    margin-bottom: 0vw;
}

.popup-page-info p {
    font-size: clamp(14px, 0.8vw, 24px);
    margin-bottom: 1vw;
}

.popup-page-info li {
    font-size: clamp(14px, 0.8vw, 24px);
    line-height: 1;
}

.popup-close-button {
    position: absolute;
    top: clamp(10px, 1vw, 20px);
    right: clamp(20px, 1.5vw, 35px);
    z-index: 1000;

    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.popup-close-button img {
    width: 3vw;
    height: 3vw;
}
