* {
    box-sizing: border-box;
}

.header {
    background-color:rgb(217,217,217,0.2);
    border-radius: 10px;
    border-bottom: 5px solid rgb(58,58,58,0.03);
    padding: 15px;
}

.nav {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;

}

.home-page-link, .categories-link, .add-game-button, .page-info-button, .about-button, .categories-info-button {
    background-color: rgb(145, 242, 190, 0.5);
    color: var(--text-h);
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 62px;
    border: 4px solid rgb(145, 242, 190, 1);
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

}


.home-page-link:hover, .categories-link:hover, .add-game-button:hover, .page-info-button:hover, .about-button:hover, .categories-info-button:hover {
    transform: scale(1.05);
    color:black;
}