* {
    box-sizing: border-box;
}

#addGameTitle {
    font-size: 40px;
    text-align: center;
    margin: 10px 0px;
}

#gameNameLabel, #gameCatLabel{
    font-size: 20px;
    margin-left: 20px;
    
}

#gameDescriptionLabel{
    font-size: 20px;
    margin-left: 20px;

    
}

#gameName, #gameCat {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    background-color: aqua;
    border: 3px solid #91f2be;
    border-radius: 5px;
}

 #gameDescriptionBox {
    margin-left: 31px;
    margin-bottom: 0px;
    padding: 5px;
    font-size: 16px;
    background-color: aqua;
    border: 3px solid #91f2be;
    border-radius: 5px;
}

#uploadImageTitle, #addQuestionTitle, #addDiscussionTitle, #addTeacherTextTitle {
    font-size: 18px;
    margin-left: 20px;
}

input[type="file"] {
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 400;
}

input[type="file"]::file-selector-button {
    
    margin: 10px 20px;
    padding: 5px 10px;
    border: 3px solid #47f19f;
    border-radius: 30px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 400;

    background: #9ff9c9;
    color: black;

    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    transform: scale(1.05);
    background-color: #47f19f;
}

input[type="file"]::file-selector-button:active {
    transform: scale(1.05);
}

#addQuestion, #addDiscussion, #addTeachText {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: red;
    border: 3px solid #91F2BE;
    border-radius: 5px;
}

#addQuestionBtn, #addDiscussionBtn, #addTeachTextBtn{
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #9ff9c9;
    color: black;
    border: 3px solid #91f2be;
    border-radius: 30px;
    cursor: pointer;
}

#addQuestionBtn:hover, #addDiscussionBtn:hover, #addTeachTextBtn:hover{
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    transform: scale(1.05);
    background-color: #47f19f;
    color: white;
    border: 3px solid #47f19f;
    border-radius: 30px;
    cursor: pointer;
}

#questionsList, #discussionPointsList, #teacherTextList {
    margin-left: 20px;
    margin-bottom: 20px;
}

#deleteQuestionBtn, #deleteDiscussionBtn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #c4c4c4af;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveGameBtn {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveGameBtn:hover {
    background-color: #45a049;
}

