* {
    box-sizing: border-box;
}

#addGameTitle {
    font-size: 40px;
    text-align: center;
    
}

#generalContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin:  auto;
  align-items: center;
  
}

#gameNameLabel, #gameCatLabel{
    font-size: 20px;

    
}

#gameDescriptionLabel{
    font-size: 20px;
    
}

#gameName, #gameCat {
   
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    border: 3px solid rgba(157, 157, 156, 0.7);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90)
}

#gameName:focus, #gameCat:focus {
   
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    border: 3px solid rgba(157, 157, 156, 1);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
    outline:none;
}

 #gameDescriptionBox {
    margin-bottom: 0px;
    padding: 5px;
    font-size: 16px;
    border: 3px solid rgba(157, 157, 156, 0.7);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
    
}

 #gameDescriptionBox:focus {
  
    margin-bottom: 0px;
    padding: 5px;
    font-size: 16px;
    border: 3px solid  rgba(157, 157, 156, 1);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
    outline:none;
    
}

#step-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 40px;               
  margin-top: 50px;
}

#singleStep {
    position: relative;
    width: 450px;
    border: 3px solid rgba(157, 157, 156, 0.725);
    border-radius: 5px;
    padding: 20px;
}

#bigEraseBtn {
    position: absolute;
    top: 15px;
    right: 15px;

    margin: 0;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(200, 220, 209, 0.5);
    color: black;
    border: 3px solid rgba(157, 157, 156, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

#bigEraseBtn:hover{
  
    transform: scale(1.05);
    background-color: rgba(157, 157, 156, 0.5);
    color: black;

    border-radius: 30px;
    cursor: pointer;
}

#uploadImageTitle, #addQuestionTitle, #addDiscussionTitle, #addTeacherTextTitle {
    font-size: 18px;
    margin-left: 20px;
}

input[type="file"] {
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 400;
}

input[type="file"]::file-selector-button {
    
    margin: 10px 20px;
    padding: 5px 10px;
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 30px;
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 400;

    background: #c2f2d7;
    color: black;

    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    transform: scale(1.05);
    background-color: rgb(145, 242, 190, 1);
}

input[type="file"]::file-selector-button:active {
    transform: scale(1.05);
}

#addQuestion, #addDiscussion, #addTeachText {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
    
}
#addQuestion:focus, #addDiscussion:focus, #addTeachText:focus {
    border: 3px solid rgb(134, 220, 174);
    outline:none;
    
}

#eraseBtn{
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    color: red;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}

#eraseBtn:hover{
    margin-left: 20px;
   background-color: rgba(0, 0, 0, 0);
    color: blue;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
}

#addQuestionBtn, #addDiscussionBtn, #addTeachTextBtn{
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #c2f2d7;
    color: black;
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 30px;
    cursor: pointer;
}

#addQuestionBtn:hover, #addDiscussionBtn:hover, #addTeachTextBtn:hover{
    margin-left: 20px;
    padding: 5px 10px;
    transform: scale(1.05);
    background-color: rgb(145, 242, 190, 1);;
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 30px;
    cursor: pointer;
}

#questionsList, #discussionPointsList, #teacherTextList {
    margin-left: 20px;
    margin-bottom: 20px;
}



#saveGameBtn, #stepBtn {
    display: block;
    margin: 10px auto 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(128, 240, 180);
    
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#saveGameBtn:hover, #stepBtn:hover {
    background-color: rgb(107, 215, 158);
    transform: scale(1.05);
}