.games-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: clamp(40px, 2.5vw, 60px);
  margin-top: clamp(50px, 3vw, 80px);
  margin-left: clamp(30px, 2vw, 50px);
  margin-right: clamp(30px, 2vw, 50px);
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card {
  width: clamp(221px, 15vw, 300px);
  height: clamp(242px, 16vw, 330px);
  border-radius: clamp(62px, 4vw, 90px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:#fbf7f5 ;

  padding: clamp(16px, 1.5vw, 28px);
  box-sizing: border-box;
  text-decoration: none;
}

.game-card.heli {
  border: clamp(10px, 0.75vw, 16px) solid rgba(124, 234, 255, 0.55);
}

.game-card.pilt {
  border: clamp(10px, 0.75vw, 16px) solid rgba(220, 205, 244, 0.8);
 
}

.game-card.video {
  border: clamp(10px, 0.75vw, 16px) solid rgba(247, 201, 204, 1);
}

.game-card:hover {
  transform: scale(1.05);
}

.game-icon {
  width: clamp(90px, 7vw, 140px);
  height: clamp(90px, 7vw, 140px);
  margin-bottom: clamp(14px, 1vw, 24px);
}

.game-name {
  width: 90%;
  margin-top: 5vh;

  color: var(--text);
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: bold;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

a.game-card .game-name {
  font-size: clamp(26px, 0.8vw, 36px);
  line-height: 1;
  text-align: center;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editBtn,
.deleteBtn,
.archiveBtn {
  margin-left: 0;
  border: none;
  background: none;
  padding: clamp(3px, 0.1vw, 6px);
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: clamp(14px, 0.9vw, 24px);
  border-radius: clamp(30px, 2vw, 50px);
  cursor: pointer;
}

.active-inactive-buttons{
  display: flex;
  align-items:center;
  justify-content:center;
  gap: 10px;
}



.active-inactive-buttons button{
  display: inline-block;
  padding: clamp(5px, 0.3vw, 10px) clamp(10px, 1.5vw, 14px);
  margin: clamp(10px, 1.5vw, 8px);
  border: 3px solid rgba(157, 157, 156, 0.5);
  border-radius: 30px;
  font-size: clamp(14px, 1vw, 16px);
  background: rgba(227, 229, 228, 0.9);
  cursor: pointer;
}

.active-inactive-buttons button:hover{
  scale: 1.05;
  cursor: pointer;
}

.gameButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gameButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background: none;
}

.gameButtons img {
  width: 32px;
  height: 32px;
  display: block;
}

.editBtn:hover,
.archiveBtn:hover,
.deleteBtn:hover {
  transform: scale(1.05);
}
