.categories-page {
  height: 100%;
  display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(40px, 2.5vw, 60px);
}

.categories-page h1 {
    margin-bottom: 4vh;
    z-index: 1;
}

.category-card {
  width: clamp(300px, 25vw, 550px);
  height: clamp(350px, 27vw, 600px);
  
  border-radius: clamp(62px, 4vw, 90px);
  background: #fbf7f5;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-card.heli {
  border: clamp(10px, 0.75vw, 16px) solid rgba(124, 234, 255, 0.55);
}

.category-card.video {
  border: clamp(10px, 0.75vw, 16px) solid rgba(247, 201, 204, 0.8);
}

.category-card.pilt {
  border: clamp(10px, 0.75vw, 16px) solid rgba(220, 205, 244, 0.8);
}



.category-card:hover {
  transform: scale(1.05);
}

.category-link {
  text-decoration: none;
  color: var(--text);
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: clamp(24px, 1.8vw, 36px);
  text-align: center;

  display: flex;
  flex-direction: column;
}

.category-name {
  color: var(--text);
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: clamp(36px, 2.5vw, 52px);
  margin-top: clamp(24px, 1.25vw, 30px);
  margin-bottom: clamp(24px, 1.25vw, 30px);
  text-align: center;
}

.icon {
  width: clamp(180px, 15vw, 300px);
  height: clamp(180px, 15vw, 300px);
  margin-top: clamp(20px, 1.25vw, 30px);
  vertical-align: middle;
}