.game-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 1fr 10vh;

}

.game-content{
    grid-column: 1 / 2;
	grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.game-function{
    grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.game-info-buttons{
    grid-column: 1 / 2;
	grid-row: 3 / 4;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name-and-description{
    grid-column: 1 / 3;
	grid-row: 1 / 2;

    display: flex !important;
    flex-direction: column !important;
    /*justify-content: center;*/
}

.game-name {
    order: 1 !important; 
}

.game-description {
    order: 2 !important;
}

.image-container{
    width: 80%;
}

.image-function{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

.image-slider-text{
}

.text-and-slider{
    display: flex;
    flex-direction: column;
}

.image-slider{
    appearance: none;
    background: transparent;
    width: 15vw;
}

.image-slider::-webkit-slider-runnable-track {
    height: 2.1vw;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    border: 0.25vw solid rgba(197, 170, 241, 0.6);
}

.image-slider::-webkit-slider-thumb {
    appearance: none;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    background: rgba(197, 170, 241, 0.8);
    margin-top: 0.15vw;
}