.game-start-container {
    display: flex;
    padding: 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.game-logo {
    width: 40vw;
    height: auto;
}

#gameStart{
    background: none;
    border: none;
    padding: 4vw;
    cursor: pointer;

}
#gameStart:hover {
    transform: scale(1.05);
}

#gameStart img {
    display: block; 
    width: 10vw;
    height: auto;
    margin-top: -3vw;
    margin-bottom: 0.5vw;
}