/* index.css - global styles and body background */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');


.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: clamp(30px, 11.5vh, 160px);
  flex-shrink: 0;
}

.main-container {
  flex: 1;
  min-height: 0;
}

.footer {
  height: clamp(30px, 10vh, 90px);
  flex-shrink: 0;
}