@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

/* Global color & font variables */
:root {
  --text: #000000;
  --text-h: #000000;
  --bg: #fff;
  --accent: #fcf8ff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(250, 244, 255, 0.5);
  --shadow: rgba(0,0,0,0.1) 0 10px 15px -3px, rgba(0,0,0,0.05) 0 4px 6px -2px;

  --font-sans: 'Sono', system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: 'Sono', system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: 'Sono', SF Mono, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

/* Global resets */
html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background: url('/assets/background.svg') no-repeat center center fixed;
  background-size: cover;
  color: var(--text);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: clamp(28px, 2.75vw, 52px);
}

h2 {
  font-size: clamp(26px, 2.5vw, 36px);
}

h3 {
  font-size: clamp(24px, 2vw, 32px);
}

h4 {
  font-size: clamp(20px, 1.75vw, 28px);
}

h5 {
  font-size: clamp(18px, 1.5vw, 24px);
}

h6 {
  font-size: clamp(16px, 1.25vw, 20px);
}

p,
li,
a,
button,
input,
textarea,
select,
label {
  font-size: clamp(16px, 1vw, 18px);
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale(1.05);
  color:white;
}

code {
  font-size: clamp(14px, 0.9vw, 16px);
  font-family: var(--font-mono);
  background: #f4f3ec;
  padding: 4px 8px;
  border-radius: 4px;
}