spring.application.name=Cinimini pilootprojekt

spring.datasource.url=jdbc:postgresql://localhost:5432/DATABASE_NAME-CHANGE-ME
spring.datasource.username=YOUR_USERNAME-CHANGE-ME
spring.datasource.password=YOUR_PASSWORD-CHANGE-ME
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

# Multipart handling:
spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB
spring.servlet.multipart.resolve-lazily=true

# Tomcat server limits:
server.tomcat.max-swallow-size=50MB
server.tomcat.max-parameter-count=20000
server.tomcat.max-http-form-post-size=100MB

# Logging & Hibernate
spring.jpa.show-sql=true
logging.level.org.springframework.transaction=trace
logging.level.org.springframework.orm.jpa=trace
logging.level.org.hibernate.engine.transaction=trace
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect