* {
    box-sizing: border-box;
}

#addGameTitle {
    font-size: clamp(40px, 3vw, 56px);
    text-align: center;
}

#generalContainer {
    display: flex;
    flex-direction: column;
    width: clamp(500px, 60vw, 700px);
    margin: auto;
    align-items: center;
}

#gameNameLabel,
#gameCatLabel,
#gameDescriptionLabel {
    font-size: clamp(20px, 1.2vw, 24px);
}

#gameName,
#gameCat {
    margin-bottom: 20px;
    padding: clamp(5px, 0.6vw, 10px);
    font-size: clamp(16px, 1vw, 18px);
    border: 3px solid rgba(157, 157, 156, 0.7);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
}

#gameName:focus,
#gameCat:focus {
    margin-bottom: 20px;
    padding: clamp(5px, 0.6vw, 10px);
    font-size: clamp(16px, 1vw, 18px);
    border: 3px solid rgba(157, 157, 156, 1);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
    outline: none;
}

#gameDescriptionBox {
    margin-bottom: 0px;
    padding: clamp(5px, 0.6vw, 10px);
    font-size: clamp(16px, 1vw, 18px);
    border: 3px solid rgba(157, 157, 156, 0.7);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
}

#gameDescriptionBox:focus {
    margin-bottom: 0px;
    padding: clamp(5px, 0.6vw, 10px);
    font-size: clamp(16px, 1vw, 18px);
    border: 3px solid rgba(157, 157, 156, 1);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
    outline: none;
}

#step-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(20px, 3vw, 40px);
    margin-top: clamp(30px, 5vw, 60px);
}

#singleStep {
    position: relative;
    width: clamp(450px, 50vw, 600px);
    background: #fbf7f5;
    border: clamp(2px, 0.5vw, 6px) solid rgb(145, 242, 190, 0.5);
    border-radius: 30px;
    padding: clamp(15px, 2vw, 25px);
    text-transform: uppercase;
}

#bigEraseBtn {
    position: absolute;
    top: clamp(10px, 1vw, 15px);
    right: clamp(10px, 1vw, 15px);

    margin: 0;
    padding: clamp(5px, 0.6vw, 8px);
    font-size: clamp(14px, 1vw, 16px);
    background-color: rgba(200, 220, 209, 0.5);
    color: black;
    border: 3px solid rgba(157, 157, 156, 0.5);
    border-radius: 30px;
    cursor: pointer;
}

#bigEraseBtn:hover {
    transform: scale(1.05);
    background-color: rgba(157, 157, 156, 0.5);
}

#uploadImageTitle,
#addQuestionTitle,
#addDiscussionTitle,
#addTeacherTextTitle {
    font-size: clamp(16px, 1.2vw, 18px);
    margin-left: clamp(10px, 2vw, 20px);
}

input[type="file"] {
    font-size: clamp(14px, 1vw, 16px);
    font-family: 'Segoe UI';
    font-weight: 400;
}

input[type="file"]::file-selector-button {
    margin: 10px 20px;
    padding: clamp(5px, 0.8vw, 10px) clamp(10px, 1.5vw, 14px);
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 30px;
    font-size: clamp(14px, 1vw, 16px);
    background: #c2f2d7;
    cursor: pointer;
}

#addQuestion,
#addDiscussion,
#addTeachText {
    margin-left: clamp(10px, 2vw, 20px);
    width: clamp(180px, 20vw, 260px);
    margin-bottom: 10px;
    padding: clamp(5px, 0.6vw, 10px);
    font-size: clamp(14px, 1vw, 16px);
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 5px;
    background-color: rgba(255, 248, 248, 0.90);
}

#editAreas {
    margin-left: clamp(10px, 2vw, 20px);
    width: clamp(180px, 20vw, 260px);
    margin-bottom: 10px;
    padding: clamp(5px, 0.6vw, 10px);
    font-size: clamp(14px, 1vw, 16px);
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 5px;
    background-color: black;
}

#eraseBtn {
    margin-left: clamp(10px, 2vw, 20px);
    font-size: clamp(14px, 1vw, 16px);
    font-weight: bold;
    color: red;
    border: none;
    background: transparent;
    cursor: pointer;
}

#addQuestionBtn,
#addDiscussionBtn,
#addTeachTextBtn {
    margin-left: clamp(10px, 2vw, 20px);
    padding: clamp(5px, 0.6vw, 10px) clamp(10px, 1.2vw, 16px);
    font-size: clamp(14px, 1vw, 16px);
    background-color: #c2f2d7;
    border: 3px solid rgb(145, 242, 190, 1);
    border-radius: 30px;
    cursor: pointer;
}

#questionsList,
#discussionPointsList,
#teacherTextList {
    margin-left: clamp(10px, 2vw, 20px);
    margin-bottom: clamp(10px, 2vw, 20px);
}

#saveGameBtn,
#stepBtn {
    display: block;
    margin: 10px auto 20px auto;
    padding: clamp(8px, 1vw, 12px) clamp(16px, 2vw, 24px);
    font-size: clamp(16px, 1.2vw, 18px);
    background-color: rgb(128, 240, 180);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}